<div class="head">
    Knowledge Center
  </div>
  <section class="slide-wrapper ">
    <div class="first">
        <div class="row">
      <div class="second col-sm-6 col-md-5 col-lg-4">
        <h6>
          Choose the appropriate procedure
        </h6>
        <p>
          Choosing the optimal procedure is a severe challenge for many people who
          have no experience. In this article we will endeavor to clarify many
          important points about
        </p>
        <button type="button" class="btn btn-primary leftbutton">More Details</button>
        <button type="button" class="btn btn-primary rightbutton">All Articles</button>
      </div>
  </div>
      <div
        id="myCarousel"
        class="carousel slide  marginslid"
        data-ride="carousel"
      >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
  
        <!-- Wrapper for slides -->
  
        <!-- <div class="second">44444444444</div> -->
      </div>
    </div>
  </section>
  

  <!------Articles-->
  <div class="row justify-content-end">
    <div class="form-group has-search col-md-3">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="اكتب ما تبحث عنه" />
    </div>
  </div>
  <section class="details-card">
    <!-- <div class="articallist" >
    <ul *ngFor="let pro of data">
      <li  class="card-content"> <img class="card-img" src="/../assets/img/card.png" alt="" />
        {{pro.title}}
      </li>
      </ul>
    </div> -->
    <div>

<!------------------->
<!-- <div class="col-md-3">
  <table class="table  table-responsive-md" >
    <thead>
      <tr class="font-weight-bold " class="headTitle">
        <th scope="col">id</th>
        <th scope="col">title</th>
    
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let pro of data">
        <td>{{pro.id}}</td>
        <td>{{pro.title}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<!------------>

      <div class="row rowmargin">
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="/../assets/img/card.png" alt="" />
            </div>
            <div class="card-desc">
              <h6>Heading</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="/../assets/img/card.png" alt="" />
            </div>
            <div class="card-desc">
              <h6>Heading2</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="/../assets/img/card.png" alt="" />
            </div>
            <div class="card-desc">
              <h6>Heading3</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row rowmargin">
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading2</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading3</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowmargin">
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading2</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading3</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowmargin">
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading2</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading3</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowmargin">
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading2</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-content">
              <div class="card-img">
                <img src="/../assets/img/card.png" alt="" />
              </div>
              <div class="card-desc">
                <h6>Heading3</h6>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  
  
  <div class="row justify-content-end socialmargin">
  
      <div class="col-md-3 col-lg-4 socialdir"><img src="/../assets/img/social.png"></div>
  
  </div>
  